body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: solid 1px #009dc4;
}

button {
    background: #009dc4;
    margin-top: 4px;
    padding: 10px 20px 10px 20px;
    color: #fff;
    border: 1px solid #009dc4;
    font-weight: bold;
}

#delete-btn {
    background: #fff;
    color: #009dc4;
}

ul {
    margin-top: 20px;
    list-style: none;
    padding: 0;
}

li {
    margin-top: 5px;
    
}

li a {
    color: #009dc4;
}
